@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
}        
    

.list {
    list-style-type: none;
    text-align: center;
   
}

.list > li {
    display: inline-block;
    padding: 0 36px;
    margin: 25px 0;
}

.list > li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: red;
    }

img {
    width: 100%;
}

.heading {
    font-style: bold;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3 px;
    color: #373737;
    line-height: 26,82 px;
    text-align: center;
}

.paragraph {
    padding-left: 2cm;
    padding-right: 2cm;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2.4 px;
    color: #373737;
    line-height: 26 px;
    text-align: center;
    font-weight: 400;
    text-align: center;
}

.common-section {
    max-width: 1280 px;
    margin: 0 auto 66 px;
}
.get-btn {
    text-align: center;
    margin-top: 50px;
   
}

   .btn {
    padding: 18px 42px;
    background: #FF0000;
    border-radius: 4px;
    border-color: #FF0000;
    text-decoration: none;
    font-weight: 700;
    font-size: 12 px;
    letter-spacing: 1.8 px;
    height: 51;
    color: white;
    
}

.container {
  
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: 700;
    text-align: end;
    padding: 29 px 0;
   
}
    
    
    
